.header{
    padding: 0px 0;
    background-color: #efefef;
}

.header .logo img{
    width: 70px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.header ul{
    display: flex;
    float: right;
    margin: 20px 0 0 0;
    list-style: none;
}

.header li a{
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 0 12px;
}

.header li a:hover{
    transition: 0.5s;
    opacity: 0.5s;
    color: orange;
}
